<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title>Validation</title>
</head>
<body>
    <div id="content">
        <h1>Validation des réservations</h1>

        <div id="destination">
            <h3>Destination :  </h3>
        </div>
        
        <div id="persons">
            <h3>Liste des passagers</h3>
            <ul id="passagers">
                
            </ul>
        </div>
        <form>
            <div>
                <input type="submit" value="Etape suivante" formaction="/confirmation" formmethod="post">
                <input type="submit" value="Annuler la réservation" formaction="/" formmethod="get">
            </div>
        </form>
    </div>
</body>
</html>